.charts__wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 24px;
}

.charts__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  margin: 24px;
  justify-content: center;
  align-items: center;
}

.charts__chart-wrapper {
  border: 4px solid #dedede;
  cursor: pointer;
}

.charts__chart-active {
  border: 4px solid #1890ff;
}

.charts__button-wrapper {
  display: flex;
  gap: 12px;
  margin-left: 24px;
}

.charts__modal-select-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.charts__modal-select-description {
  width: 160px;
}
